{{!--
  Главный шаблон-обёртка (layout) приложения Mamont Forum.
  Этот файл определяет общую HTML-структуру всех страниц:
  подключает мета-теги, стили, шапку (header), подвал (footer)
  и основную область контента. Для авторизованных пользователей
  дополнительно загружается скрипт уведомлений.
--}}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mamont Forum</title>
  {{!-- Подключение основного файла стилей --}}
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{!-- Подключение частичного шаблона шапки сайта (навигация, логотип, кнопки входа) --}}
  {{> header}}

  {{!-- Основная область контента страницы; {{{body}}} заменяется содержимым дочернего шаблона --}}
  <main class="container">
    {{{body}}}
  </main>

  {{!-- Подключение частичного шаблона подвала сайта --}}
  {{> footer}}

  {{!-- Скрипт уведомлений загружается только для авторизованных пользователей --}}
  {{#if user}}
  <script src="/js/notifications.js"></script>
  {{/if}}
</body>
</html>
