<h1>Редактирование комментария</h1>
<form action="/discussions/{{discussionId}}/comments/{{comment.id}}/update" method="POST" class="form">
  <label for="content">Комментарий</label>
  <textarea name="content" id="content" rows="6" required>{{comment.content}}</textarea>

  <button type="submit" class="btn btn-primary">Сохранить</button>
  <a href="/discussions/{{discussionId}}" class="btn btn-outline">Отмена</a>
</form>
